<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
          <a class="brand" href="/">Hackstars</a>
        </li>
      </ul> <!-- ul.nav -->
      <ul class="nav pull-right">
        <li>
          <a href="/auth/twitter">Sign In</a>
        </li>
      </ul> <!-- ul.nav.pull-right -->
    </div> <!-- div.container -->
  </div> <!-- div.navbar-inner -->
</div> <!-- div.navbar.navbar-fixed-top -->
