body {
  padding-top: 60px;
}

a.dropdown-toggle img {
  margin: -5px 5px;
  vertical-align: middle;
}

.form-row {
  margin-top: 15px;
}

.btn-row {
  margin-bottom: 15px;
}

.padded-row {
  margin-bottom: 15px;
  margin-top: 15px;
}

label {
  font-weight: bold;
}

.first-sync-callout {
  margin-bottom: 0;
}

.warning {
  color: red;
}
